<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraMomsSpaghettiApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

   

    <% if flash[:message] %>
  <h4> <%= flash[:message] %> </h4>
  <% end %>
  <% if flash[:errors] %>
  <h4 style="color: red;"> <%= flash[:errors] %> </h4>
  <% end %> 
 
    <div class="wrapper">
    
 
    
    <div class="main-logo"><a href="/recipes"><img src="/images/moms_spaghetti_logo.png"></a></div>
    <div class="top-nav">
  
    <div class="item setWidth"><a href="/recipes_sorted/breakfast"><img src="/images/nav1_breakfast.png"></a></div>
      <div class="item setWidth"><a href="/recipes_sorted/main_dish"><img src="/images/nav2_main_dish.png"></a></div>
      <div class="item setWidth"><a href="/recipes_sorted/side_dish"><img src="/images/nav3_side_dish.png"></a></div>
      <div class="item setWidth"><a href="/recipes_sorted/appetizer"><img src="/images/nav4_appetizer.png"></a></div>
      <div class="item setWidth"><a href="/recipes_sorted/dessert"><img src="/images/nav5_dessert.png"></a></div>
    </div>
    <% if logged_in? %> 
    <br>
    <br>
    
    <a href="/users/<%=current_user.id%>">My Recipes</a>
    <a href="/recipes/new">Post a Recipe</a>
    <a href="/logout">Logout</a><br>

    <% else %>
    <br>
    <br>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a><br>

    <% end %>
 
    
  

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Moms Spaghetti</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
