
<div class="body-center"><h1> Welcome to the <em>Mom's Spaghetti</em> cooking comunity!</h1>
<p>Welcome to Mom's Spaghetti, the online community for home chefs just like you! Whether you're cooking for your family or looking to expand your culinary horizons, this website will help you find great recipes to enjoy and add to your collection!</p>

<p>We're different from other recipe-sharing sites in 2 different ways. First, our recipes and reviews are 100% user-generated from people just like you! The second is our 3-category review system. Each time you look for a recipe, you're doing it for a different reason with different priorities in mind. You could be most interested in looking for a recipe that's quick and simple. You could be looking for a recipe that's healthy and diet-conscious. Or you could simply be looking to splurge and make something that's delicious and tasty. Our reviews are broken down into these 3 categories so you can quickly find the type of recipe you're looking for.</p>

<p>Feel free to browse our recipes, and if you'd like to learn, share and review recipes as part of our community, then sign up and join our home chef network.</p>


<p><em>"Anyone can cook!"
Chef Gousteau, Ratatouille </em></p>


<a href="/login">Login</a> or <a href="/signup">Sign Up</a> to view recipes from home chefs just like you!</div>