<h1>Insert the form to edit an instance of your model here.</h1>
<form class="" action="/recipes/:id" method="post">
<h3>How simple is your recipe?</h3>
<label for="simple_review">1</label>
<input type="radio" name="simple_review" value=1>
<label for="simple_review">2</label>
<input type="radio" name="simple_review" value=2>
<label for="simple_review">3</label>
<input type="radio" name="simple_review" value=3 checked>
<label for="simple_review">4</label>
<input type="radio" name="simple_review" value=4>
<label for="simple_review">5</label>
<input type="radio" name="simple_review" value=5><br>

<label for="healthy_review">1</label>
<input type="radio" name="healthy_review" value=1>
<label for="healthy_review">2</label>
<input type="radio" name="healthy_review" value=2>
<label for="healthy_review">3</label>
<input type="radio" name="healthy_review" value=3 checked>
<label for="healthy_review">4</label>
<input type="radio" name="healthy_review" value=4>
<label for="healthy_review">5</label>
<input type="radio" name="healthy_review" value=5><br>

<label for="tasty_review">1</label>
<input type="radio" name="tasty_review" value=1>
<label for="tasty_review">2</label>
<input type="radio" name="tasty_review" value=2>
<label for="tasty_review">3</label>
<input type="radio" name="tasty_review" value=3 checked>
<label for="tasty_review">4</label>
<input type="radio" name="tasty_review" value=4>
<label for="tasty_review">5</label>
<input type="radio" name="tasty_review" value=5><br>

<h3><label for="comments">Comments:</label></h3>
<textarea name="comments" style="width:600px; height:400px; align: left;"> </textarea>

<input type="submit" name="" value="Submit Review">