
<h1><%= @recipe.title %>  </h1>

Are you sure you want to delete this entry?
<form class="" action="/recipes/<%= @recipe.id %>/destroy" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" name="" value="Delete Recipe">