<h1>All Recipes</h1>


<% @recipes_sorted = @recipes.sort {|a, b| a.title <=> b.title } %>
    
<div class ="top-nav">

<% @recipes_sorted.each do |recipe| %>
    
<a href="/recipes/<%= recipe.id %>"><img src=<%= recipe.pic_url %> width="185px" height="auto" style="margin:3px"><h4><%= recipe.title%></h4></a> 
    <% end %>
    
    </div>
   


