<h1>Share your recipe by filling out the information below:</h1>
Image grid showing stages of making a recipe, maybe 
1. weathered index card 2.hand kneading dough 3. fresh spices 4. meat cooking
5. pastry dispenser

<form class="" action="/recipes" method="post">

<h3><label for="title">Recipe Title:</label></h3>
<input type="text" name="title" value=""><br>

<h3><label for="content">Recipe Instructions:</label></h3>
<textarea name="content" style="width:600px; height:400px; align: left;"> </textarea>

<h3>Select your recipe's </h3>
<label for="breakfast">Breakfast</label>
<input type="checkbox" id="breakfast" name="category" value="breakfast">

<h3>Submit a picture url to be used for your recipe:</h3>
<input type="text" name="picture" placeholder="http://www.yourpic.com">


<input type="submit" name="" value="Create Recipe">


</form>