<h1>Side Dish Recipes</h1>



<% @side_dish_array = @recipes.select { |recipe| recipe.category.start_with? "s"}%>

<% @side_dish_sorted = @side_dish_array.sort {|a, b| a.title <=> b.title } %>
    
<div class ="top-nav">

<% @side_dish_sorted.each do |recipe| %>
    
<a href="/recipes/<%= recipe.id %>"><img src=<%= recipe.pic_url %> width="185px" height="auto" style="margin:3px"><h4><%= recipe.title%></h4></a> 
    <% end %>
    
    </div>
   


